*{
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    font-family: 'Karla', sans-serif;
}


body
{
  margin: 0;
  padding: 0;
  background: #232323;
  color: #cdcdcd;
  
}

a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}


.container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-family: 'Chilanka', cursive;
    font-size: 1.5em;
}

.me {
    width: 45%;
    border-radius: 50%;
    margin: 1em;
}

.infoLinks {
    display: none;
}

h2 {
    margin: 20px auto;
    font-size: 1.5em;
}

p {
    text-align: left;
}

.large {
    display: none;
}

.bioText {
    margin: 20px 8%;
    font-size: 1em;
    line-height: 1.2em;
}

.bio {
    margin-bottom: 4em;
}

.emf {
    font-weight: 700;
}

.small {
    font-size: 0.9em;
    text-decoration: 
}


.projectTitle {
    font-size: 0.7em;
    margin-bottom: 0.5em;
}

.projectText {
    margin: 20px 8%;
    font-size: 0.9em;
    line-height: 1.1em;
}

.projectLink {
    padding: 0 10px;
    font-weight: 700;
    text-decoration: none;
    color: #363739;
}

.vr {
    display: inline;
    height: 90%;
    width: 0;
    border: 1px solid #363739;
}

.largeCont {
    display: none;
}


footer {
    margin-top: 5em;
    background: #363739;
    line-height: 2em;
    font-size: 0.9em;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    color: #ffffff;
}
 footer a {
     color: #ffffff;
     text-decoration: none;
 }

@media screen and (min-width: 400px) {
    .contact {
        font-size: 1.2em;
    }

    .intro {
        font-size: 2em;
    }

    .me {
        width: 35%;
        margin: 2.5em;
    }

    h2 {
        font-size: 2em;
        margin: 30px auto;
    }

    .bioText{
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .screen {
        width: 75%;
    }

    .projectTitle {
        font-size: 1em;
    }

    .projectText{
        font-size: 1.1em;
        line-height: 1.2em;
    }

    footer {
        font-size: 1.5em;
    }

}

@media screen and (min-width: 800px) {
  

  nav, .projects, .intro, .about {
    display: none;
  }

  .infoLinks {
    display: flex;
    flex-direction: column;
    background: #fff;
    margin-top: 20px;
  }

  main {
    display: flex;
    align-items: center;
  }

  header {
    width: 25vw;
  }

  .screen {
      width: 50%;
  }


  .bio {
    width: 75vw;
    padding-top: 20vh;
    
  }

  footer {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      font-size: 1em;
  }

  .me {
      width: 50%;
      margin-top: 20vh;
  }

  .infoLink {
      text-decoration: none;
      margin: 7px;
      color: black;
  }

  .large {
      display: block;
      margin-bottom: 2em;
  }

  .largeCont {
      padding-top: 30vh;
      padding-right: 40px;
  }

  .contLinks-lg {
      font-size: 2em;
      margin: 10px;
      text-decoration: none;
      color:  #363739;
  }

  .projectText {
      line-height: 1.5em;
  }

}